variable "app_name" {
  description = "Application name"
  default     = ""
}

variable "instance_role_name" {
  description = "Name of instance role which will give possibility to run deployment of your application"
  default     = ""
}

variable "key_name" {
  description = "Name of your ssh key"
  default     = ""
}

variable "region" {
  description = "AWS region"
  default     = "us-east-1"
}

variable "account_id" {
  description = "ID of your AWs account"
  default     = ""
}
